<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: lightpink;
        font-size: 30pt;
        text-align: left;
    }

    p {
        font-size: 20pt;
       text-align: center left;
       color: lightpink;
    }

    .button {
       border: none;
       color: white;
       padding: 16px 32px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 4px 10px;
       transition-duration: 0.4s;
       cursor: pointer;
    }
    .button1 {
       background-color: lightsalmon;
       color: white;
       border: 2px solid lightsalmon;
    }
    .button1:hover{
      background-color: lightgoldenrodyellow;
      color: black;
    }
    .button2 {
       background-color: lightsalmon;
       color: white;
       border: 2px solid lightsalmon;
    }
    .button2:hover{
      background-color: maroon;
      color: black;
    }
     .button3 {
       background-color: lightsalmon;
       color: white;
       border: 2px solid lightsalmon;
    }
    .button3:hover{
      background-color: lightseagreen;
      color: black;
    }
    .button4 {
       background-color: lightsalmon;
       color: white;
       border: 2px solid lightsalmon;
    }
    .button4:hover{
      background-color: lightpink;
      color: black;
    }
  
  
</style>

<script>
     
  function playPause1() {
    audio.play()
    
  }
  
</script>

<div>
    <h1>Welcome!</h1><br>
    <p>Introducing the most inclusive kid shows. Their  inclusivity helps newer generation do what I could not.</p>

    <button class = "button button1" onclick = "playPause1()">
      <audio
    src="atla.mp3"
    autoplay></audio>ATLA</button>
    <button class = "button button2" onclick = "playPause2()">
      <audio
    src="TOH.mp3"
    autoplay></audio>TOH</button>
    <button class = "button button3" onclick = "playPause3()">
      <audio
    src="spop.mp3"
    autoplay></audio>SPOP</button>
    <button class = "button button4" onclick = "playPause4()">
      <audio
    src="lovelikeyou.mp3"
    autoplay></audio>SU</button>
</div>
