<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: lightpink;
        font-size: 30pt;
        text-align: left;
    }

    p {
        font-size: 24pt;
    }

    .button {
       border: none;
       color: white;
       padding: 16px 32px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 4px 10px;
       transition-duration: 0.4s;
       cursor: pointer;
    }
    .button1 {
       background-color: lightsalmon;
       color: white;
       border: 2px solid lightsalmon;
    }
    .button1:hover{
      background-color: lightgoldenrodyellow;
      color: black;
    }
    .button2 {
       background-color: lightsalmon;
       color: white;
       border: 2px solid lightsalmon;
    }
    .button2:hover{
      background-color: maroon;
      color: black;
    }
     .button3 {
       background-color: lightsalmon;
       color: white;
       border: 2px solid lightsalmon;
    }
    .button3:hover{
      background-color: lightseagreen;
      color: black;
    }
    .button4 {
       background-color: lightsalmon;
       color: white;
       border: 2px solid lightsalmon;
    }
    .button4:hover{
      background-color: lightpink;
      color: black;
    }
  
  
</style>

<div>
    <h1>Welcome!</h1><br>
    <p>This site has been visited {{ count }} times.</p>

    <button class = "button button1">ATLA</button>
    <button class = "button button2">TOH</button>
    <button class = "button button3">SPOP</button>
    <button class = "button button4">SU</button>
</div>
